
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="container emp-profile">
    <div>
        <a class="card-title" asp-controller="profile" asp-action="index">Back</a>
    </div>
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" asp-action="search" asp-controller="showtest" method="get">
        <div class="input-group">
            <input type="text" name="keyword" class="form-control bg-white border-0 small" placeholder="Search for..."
                   aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                @*<button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>*@
                <input class="btn btn-primary" type="submit" name="idtest" value="Search" />
            </div>
        </div>
    </form>
    <form>

        <h4 class="card-title">
            Registered Contests

        </h4>



        <div class="tab-content profile-tab" id="myTabContent">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Name Id</th>
                        <th>Name School</th>
                        <th>Full Name</th>
                        <th>Content</th>
                        <th>Describe</th>
                        <th>Contest Photo</th>
                        <th>Price</th>
                        <th>Stat</th>
                        <th>Action</th>
                    </tr>
                </thead>
                @foreach (var tes in ViewBag.test)
                {
                    <tbody>
                        <tr>
                            <td>@tes.IdTest</td>
                            <td>@tes.IdAcc</td>
                            <td>@tes.NameTest</td>
                            <td>@tes.Content</td>
                            <td>@tes.Desc</td>
                            <td> <img src="~/User/images/@tes.ImgOfTest" width="100" alt="Alternate Text" /></td>
                            <td>@tes.Price</td>
                            <td>
                                @if (tes.Stat != true)
                                {
                                    <h6 style="color:lightsalmon">Waiting for the school to approve the test !</h6>
                                }
                                else
                                {
                                    <h6 style="color:cornflowerblue">School has approved your post ! </h6>
                                }
                            </td>
                            <td>Action</td>
                        </tr>


                    </tbody>

                }
            </table>



        </div>



        @*</div>*@

    </form>

</div>


