
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<br />
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" asp-action="search" asp-controller="feedback" method="get">
    <div class="input-group">
        <input type="text" name="keyword" class="form-control bg-white border-0 small" placeholder="Search for..."
               aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
            @*<button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>*@
            <input class="btn btn-primary" type="submit" name="idtes" value="Search" />
        </div>
    </div>
</form>
<br />

<table class="table table-success">

    <thead>
        <tr>
            <th scope="col">ID FeebBack</th>
            <th scope="col">Fullname</th>
            <th scope="col">Email</th>
            <th scope="col">Message</th>
            <th scope="col">Reply message</th>
            <th scope="col">DateSend</th>
            <th scope="col">Date Reply</th>
            <th scope="col">Id Account</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var feed in ViewBag.feedback)
        {
            <tr>
                <td>@feed.IdFeedback</td>
                <td>@feed.Fullname</td>
                <td>@feed.Mail</td>
                <td>@feed.Mess</td>
                <td>@feed.ReplyMail</td>
                <td>@feed.Datesend</td>
                <td>@feed.Datereply</td>
                <td>@feed.IdAcc</td>
                <td>@feed.Stat</td>
                <td>
                    @*<a class="btn btn-success" asp-action="accept" asp-controller="event" asp-route-id="@tes.IdTest"><i class="fas fa-check-circle"></i></a>*@
                    <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                        <span class="d-flex align-items-center">
                            <i class="bi-chat-text-fill me-2"></i>
                            <span class="small">Send Feedback</span>
                        </span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Feedback Modal-->
@foreach (var feed in ViewBag.feedback)
{
    <div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-gradient-primary-to-secondary p-4">

                    <h5 class="modal-title font-alt text-white" id="feedbackModalLabel">Send feedback</h5>


                    <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body border-0 p-4">

                    <form asp-controller="feedback" asp-action="reply" asp-route-id="@feed.IdFeedback" id="contactForm" data-sb-form-api-token="API_TOKEN" method="post">

                        <div class="form-floating mb-3">
                            <textarea name="desc" class="form-control" id="message" type="text" placeholder="desc..." style="height: 10rem"></textarea>
                            <label for="message">Description</label>
                            <div class="invalid-feedback" data-sb-feedback="message:required">Desc  is required.</div>
                        </div>

                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        <!-- Submit Button-->
                        <div class="d-grid"> <input type="submit" value="Submit" /></div>

                    </form>

                </div>
            </div>
        </div>
    </div>
}


