
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_LayoutSuccess.cshtml";
}
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
@foreach (var detail in ViewBag.detailBill)
{
    <div class="container mt-5 mb-3">
        <div class="card">
            <div class="card-header">
                Invoice
                <strong>@detail.Created</strong>
                <span class="float-right"> <strong>Status:</strong> Completed</span>
            </div>
            <div class="card-body">
                <div class="row mb-4">
                    @foreach (var info in ViewBag.infoFromto)
                    {
                        <div class="col-sm-6">
                            <h6 class="mb-3">From:</h6>
                            <div>
                                <strong>TestStore</strong>
                            </div>
                            <div>Address : @info.Addr</div>
                            <div>Email: @info.Email</div>
                            <div>Phone: @info.PhoneNumber</div>
                        </div>
                    }
                    <div class="col-sm-6">
                        <h6 class="mb-3">To:</h6>
                        <div>
                            <strong>@ViewBag.nameTo</strong>
                        </div>
                        <div>Address: @ViewBag.shippingTo</div>
                        <div>Email: @ViewBag.email</div>
                        <div>Phone: @ViewBag.phone</div>
                    </div>
                </div>
                <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="center">#ID Bill</th>
                                <th>Item</th>
                                <th>Fullname</th>
                                <th class="right">Shipping Address</th>
                                <th class="center">Pay Type</th>
                                <th class="right">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="center">@detail.IdBill</td>
                                <td class="left strong">@detail.ProductName</td>
                                <td class="left">@detail.PayerName</td>
                                <td class="right">@detail.PayerShippingAddr</td>
                                <td class="center">@detail.Type</td>
                                <td class="right">$@detail.Total</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-5">
                    </div>
                    <div class="col-lg-4 col-sm-5 ml-auto">
                        <table class="table table-clear">
                            <tbody>
                                <tr>
                                    <td class="left">
                                        <strong>Shipping</strong>
                                    </td>
                                    <td class="right">$10</td>
                                </tr>
                                <tr>
                                    <td class="left">
                                        <strong>Total</strong>
                                    </td>
                                    <td class="right">
                                        <strong>$@(detail.Total + 10)</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}












