
@{
    ViewData["Title"] = "Table";
    Layout = "~/Views/Shared/_LayoutSchoolCreate.cshtml";
}


<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Table</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Table</li>
                </ol>
            </div>
            <div class="col-md-7 col-4 align-self-center">
                <a href="https://themewagon.com/themes/material-bootstrap-4-free-admin-template/" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down">Download Now</a>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- column -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Basic Table</h4>
                        <h6 class="card-subtitle">Compititions<code>.table</code></h6>
                        <div class="table-responsive">
                            <form>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#ID_com</th>
                                            <th>#ID_acc</th>
                                            <th>Name_COm</th>
                                            <th>Desc</th>
                                            <th>Images</th>
                                            <th>Date_Start</th>
                                            <th>Date_end</th>
                                            <th>Stat</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    @foreach (var compi in ViewBag.compititions)
                                    {
                                        <tbody>
                                            <tr>
                                                <td>@compi.IdCom</td>
                                                <td>@compi.IdAcc</td>
                                                <td>@compi.NameCom</td>
                                                <td>@compi.Desc</td>
                                                @*<td>@compi.ImgOfCom</td>*@
                                                <td><img src="~/User/images/@compi.ImgOfCom" width="100" alt="Alternate Text" /></td>
                                                <td>@compi.DateStart</td>
                                                <td>@compi.DateEnd</td>
                                                @if (@compi.Stat == false)
                                                {
                                                    <td> Awaiting Approval</td>
                                                }
                                                else
                                                {
                                                    <td> HAPPENING </td>
                                                }
                                                <td>
                                                    <a class="btn btn-primary" asp-action="update" asp-controller="create" asp-route-id="@compi.IdCom">Edit</a>
                                                    <a class="btn btn-danger" asp-controller="create" asp-action="delete" asp-route-id="@compi.IdCom" onclick="return confirm('Are you sure?')">Delete</a>

                                                </td>
                                            </tr>

                                            @*<tr>
                                                    <td>2</td>
                                                    <td>Deshmukh</td>
                                                    <td>Gaylord</td>

                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Sanghani</td>
                                                    <td>Gusikowski</td>

                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>Roshan</td>
                                                    <td>Rogahn</td>

                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>Joshi</td>
                                                    <td>Hickle</td>

                                                </tr>
                                                <tr>
                                                    <td>6</td>
                                                    <td>Nigam</td>
                                                    <td>Eichmann</td>

                                                </tr>*@
                                        </tbody>

                                    }
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">
        © 2017 Material Pro Admin by wrappixel.com
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>

