@model InstituteOfFineArt.Models.Account
@{
    ViewData["Title"] = "Account";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h1>USERS LIST</h1>

<h3>@ViewBag.msg</h3>
<br />

<br />
<table class="table table-success">
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" asp-action="search" asp-controller="account" method="get">
        <div class="input-group">
            <input type="text" name="keyword" class="form-control bg-white border-0 small" placeholder="Search for..."
                   aria-label="Search" aria-describedby="basic-addon2" required>
            <div class="input-group-append">
                <input class="btn btn-primary" type="submit" name="idacc" value="Search"  />
                    @*<i class="fas fa-search fa-sm"></i>*@
        
            </div>
        </div>
        @*<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();"><i class="fas fa-file-import">  ADD</i></button>*@
        <a class="btn btn-success" asp-action="add" asp-controller="account">ADD<i class="btn btn-success"></i></a>
    </form>
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">USER</th>
            <th scope="col">FULLNAME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">DATEOFBIRTH</th>
            <th scope="col">PHONE</th>
            <th scope="col">ADDRESS</th>
            <th scope="col">ROLE</th>
            <th scope="col">GENDER</th>
            <th scope="col">STATUS</th>
            <th scope="col">DATE CREATED</th>
            <th scope="col">DATE UPDATED</th>
            <th scope="col">CONTESTS PARTICIPATED</th>
            <th scope="col">ACTION</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in ViewBag.accounts)
        {
        <tr>
            <td>@account.IdAcc</td>
            <td>@account.Username</td>
            <td>@account.Fullname</td>
            <td>@account.Email</td>
            <td>@account.Dob</td>
            <td>@account.PhoneNumber</td>
            <td>@account.Addr</td>
            <td>@account.IdRole</td>
            <td>@account.Gender</td>
            <td>@account.Stat</td>
            <td>@account.Datecreated</td>
            <td>@account.Dateupdated</td>
            <td>@account.ContestsParticipated</td>
            <td>
                <a type="button" class="btn btn-success" asp-controller="account" asp-action="update" asp-route-id="@account.IdAcc"><i class="fas fa-edit"></i></a>
                <a type="button" class="btn btn-danger" asp-controller="account" asp-action="delete" asp-route-id="@account.IdAcc"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        }
        
    </tbody>
</table>



