
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSuccess.cshtml";
}

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
@foreach (var detail in ViewBag.detailBill)
{
    <div class="container mt-5 mb-3">
        <div class="card">
            <div class="card-header">
                Invoice
                <strong>@detail.Created</strong>
                <span class="float-right"> <strong>Status:</strong> Completed</span>
            </div>
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-sm-6">
                        <h6 class="mb-3">To:</h6>
                        <div>
                            <strong>@detail.PayerName</strong>
                        </div>
                        <div>Email: @detail.PayerEmail</div>
                        <div>Phone: @detail.PayerPhoneNumber</div>
                    </div>
                </div>
                <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="center">#ID Bill</th>
                                <th>Item</th>
                                <th>Fullname</th>
                                <th class="center">Pay Type</th>
                                <th class="right">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="center">@detail.IdBill</td>
                                <td class="left strong">@detail.ProductName</td>
                                <td class="left">@detail.PayerName</td>
                                <td class="center">@detail.Type</td>
                                <td class="right">$@detail.Total</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-5">
                    </div>
                    <div class="col-lg-4 col-sm-5 ml-auto">
                        <table class="table table-clear">
                            <tbody>
                                <tr>
                                    <td class="left">
                                        <strong>Subtotal</strong>
                                    </td>
                                    <td class="right">$@detail.Total</td>
                                </tr>
                                <tr>
                                    <td class="left">
                                        <strong>Fee</strong>
                                    </td>
                                    <td class="right">$@detail.Fee</td>
                                </tr>
                                <tr>
                                    <td class="left">
                                        <strong>Total Ceceipt</strong>
                                    </td>
                                    <td class="right">
                                        <strong>$@detail.Net</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

