
@{
    ViewData["Title"] = "Approval";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Approval</h1>
<br />
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group">
        <input type="text" class="form-control bg-white border-0 small" placeholder="Search for..."
               aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
</form>
<br />
<table class="table table-success">

    <thead>
        <tr>
            <th scope="col">ID COMPETITION</th>
            <th scope="col">ID SCHOOL</th>
            <th scope="col">NAME COMPETITONS</th>
            <th scope="col">DESCRIPTION</th>
            <th scope="col">IMAGE</th>
            <th scope="col">DATE STARTING</th>
            <th scope="col">DATE ENDING</th>
            <th scope="col">STATUS</th>
            <th scope="col">ACTION</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var com in ViewBag.competition)
        {
        <tr>
            <td>@com.IdCom</td>
            <td>@com.IdAcc</td>
            <td>@com.NameCom</td>
            <td>@com.Desc</td>
            <td><img src="~/User/images/@com.ImgOfCom" width="100" alt="Alternate Text" /></td>
            <td>@com.DateStart</td>
            <td>@com.DateEnd</td>
            @if (@com.Stat == false)
            {
                <td>EVENT AWAITING APPROVAL</td>
            }

            <td>
                <a class="btn btn-success" asp-action="accept" asp-controller="event" asp-route-id="@com.IdCom"><i class="fas fa-check-circle"></i></a>
                <a type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        }
        </tbody>
    
</table>

